nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

nav li{
    display: inline block;
    padding: 10px 20px;
    list-style: none;
}


nav li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    
}

nav li a:hover{
    color: red;
    transition: .4s;
}

.title{
    padding-top: 30px;
    padding-bottom: 30px;

    font-size: 30px;
    font-weight: bold;
}
